body
{
	background-color: #270939;
	color :white;
}
h1
{
	text-align:center;
	color:#E2F9B3;
	text-decoration:underline
}
h2
{
	font-style:italic;
}
h3
{
	color:white;
	transition: transform 1s; 
}
h3:hover
{
	color:yellow;
	text-align :center;
	transform: scale(1.5);
}